# Build output
/build/
/dist/

# NetBeans private settings
/nbproject/private/
/glassfish/

# Logs
*.log

# macOS
.DS_Store
.settings
/BRAVO-TSS-war/build/
/BRAVO-TSS-war/dist/
/BRAVO-TSS-ejb/dist/
/BRAVO-TSS-ejb/build/
